body {
  text-align: center;
}
nav {
  border-top: solid;
  border-bottom: solid;
  border-width: 2px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
  margin: 0 10px
}
nav {
  display: inline;
}
.title {
  color: red;
}
.book {
  display: inline;
}