:root {
    --primary: #DC0A2D;
    --secondary: #595757;
    --accent1: #212121;
    --accent2: #FFFFFF;
    --accent3: #fec527;
    --accent4: #e8e5e5;
    --accent5: #077b8d;
    --accent6: #d9d6d6;

    --font-family: "Roboto", sans-serif, Arial, Helvetica;

}
body {
    margin: 0 auto;
    font-family: var(--font-family);
}

header {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    padding: 10px;
    justify-content: space-between;
}

nav {
    display: flex;
    margin-right: 30px;
}
nav ul a {
    color: var(--accent2);
    font-size: 25px;
    text-decoration: none;
}

nav ul a:hover {
    color: var(--secondary);
}

.search-box {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
}
.search-box img {
    width: 200px;
}

.search-box input {
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-family: var(--font-family);
    font-size: 20px;
    padding-left: 10px;
}

.search-box button {
    height: 30px;
    border: none;
    border-radius: 5px;
    width: 100px;
}

.search-box button:hover {
    background-color: var(--accent3);
}

/* Pokemon box */
#cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1300px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--accent4);
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    width: 300px;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: var(--accent6);
}

.pokemonImage {
    width: 200px;
}

.type-image {
    width: 50px;
}
.pokemon-id {
    background-color: var(--secondary);
    color: var(--accent2);
    padding: 5px;
    border-radius: 10px;
    font-weight: 400;
}
.pokemon-name {
    font-size: 30px;
    color: var(--accent5);
}